.popup__input {
  padding: 18px 0 9px 0;
  margin: 0 auto;
  margin-top: 28px;
  width: 358px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  font-family: 'Inter', 'Arial', sans-serif;
}

@media screen and (max-width: 320px) {
  .popup__input {
    padding: 26px 0 0 0;
  width: 85%;
  margin-top: 55px;
  }
}
