.profile__edit {
  width: 24px;
  height: 24px;
  background: none;
  border: 1px solid #fff;
  background-image: url(../../../images/profile__edit.svg);
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: center;
  box-sizing: border-box;
  cursor: pointer;
}

@media screen and (max-width: 320px) {
  .profile__edit {
    width: 18px;
    height: 18px;
    right: -28px;
    top: 33px;
  }
}

.profile__edit:hover {
  opacity: 0.5;
}
