.popup__close {
  background: none;
  border: none;
  background-image: url(../../../images/popup__close.svg);
  width: 32px;
  height: 32px;
  position: absolute;
  right: -40px;
  top: -40px;
  cursor: pointer;
}

.popup__close:hover {
  opacity: 0.5;
}

@media screen and (max-width: 320px) {
  .popup__close {
    width: 20px;
    height: 20px;
    right: 0;
    top: -36px;
    background-position: center;
    background-size: cover;
  }
}
