.content__item-like {
  background-image: url(../../../images/content__like.svg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 25px;
  width: 22px;
  cursor: pointer;
}

.content__item-like:hover {
  filter: opacity(60%);
}
